<div id="menu">
	<ul class="current"> <!-- <<<== активное меню -->
		<li><b><%= link_to "О кафедре", root_path %></b></li>
	</ul>
	<ul class="sub_active"> <!-- <<<== активное подменю меню -->
		<li class="current_sub"><%= link_to "История кафедры", '#' %></li>
		<li><a href="">Преподавательский состав</a></li>
		<li><a href="">Направления подготовки</a></li> <!-- <<<== активная страница -->
	</ul>

	<ul class="select">
		<li><a href=""><b>Образовательная деятельность</b></a>
			<ul class="sub">
				<li><a href="">Направления подготовки</a></li>
				<li><a href="">Прикладная информатика</a></li>
				<li><a href="">Бизнес-информатика</a></li>
			</ul>
		</li>
	</ul>

	<ul class="select">
		<li><a href=""><b>Научная деятельность</b></a>
			<ul class="sub">
				<li><a href="">Методические материалы</a></li>
				<li><a href="">Публикации</a></li>
			</ul>
		</li>
	</ul>

	<ul class="select">
		<li><a href=""><b>Личный кабинет</b></a>
			<ul class="sub">
				<li><a href="">Вход</a></li>
				<li><%= link_to "Pегистрация пользователя", signup_path %></li>
			</ul>
		</li>
	</ul>
</div>
<div class="main">
  <dt>Январь 1990 г. - создана кафедра вычислительной математики и программирования.</dt>
  <dd>Обучение бедещих машиностроителей, строителей, электриков, химиков основам программирования и работы с компьютерами.</dd><br/>
  <dt>1994 г. - кафедра переименована, начата подготовка по специальности "Информационные системы в экономике".</dt>
  <dd>Специалистов готовят заведующий кафедрой А.А. Голованов, ведущие доценты кафедры Л.А. Нестерова и В.У. Сысоев.</dd><br/>
  <dt>Июнь 1999 г. - первый выпуск экономистов по специальности "Информационные системы в экономике".</dt>
  <dd>20 выпускников успешно защитили дипломные проекты, 14 из них получили дипломы с отличием, а трое были рекомендованы для поступления в аспирантуру.</dd><br/>
  <dt>1999 г. - открыта специальность "Математические методы и исследование операций в экономике".</dt>
  <dd>Выпускник - экономист-математик (или экономист-аналитик) имеет солидную математическую и экономическую подготовку, владеет информауионными технологиями.</dd><br/>
  <dt>2004 г. - первый выпуск экономистов-аналитиков.</dt><br/>
  <dt>2005 г. - подготовка по специальности "Математические методы и исследование операций в экономике" передана на кафедру "Математическое моделирование в экономике".</dt>
  <dd>Кафедра информационных систем в экономике переименована в кафедру прикладной информатики.</dd><br/>
  <dt>2009 г. - кафедра готовит бакалавров по направлению "Прикладная информатика (в экономике)".</dt><br/>
  <dt>2010 г. - открыто направление "Бизнес-информатика".</dt><br/>
  <dt>2011 г. - кафедра прикладной информатики переименовна в кафедру бизнес-информатики.</dt>
  <dd>Подготовка специалистов направлена на применение информационных технологий в экономике и бизнесе.</dd><br/>
  <dt>2012 г. - на кафедре работают профессоры, кандидаты технических и экономических наук, доценты, старшие преподаватели.</dt>
  <dd>Для чтения отдельных специальных курсов приглашаются специалисты-практики предприятий и организаций города Кирова.</dd><br/>
</div>
